.Header {
    background-color: #F1FEF4;
}
.Hero__main h1{
    font-family: 'GD Boing';
    font-size: 4.8rem;
}

.Hero__main p {
    font-size: 2rem;
}
.custom-btn-2 {
    padding: 0 3.2rem;
}

.mtn {
    width: 7rem;
}
.bolt {
    width: 5rem;
}
.axa {
    width: 14rem;
}
.ups {
    width: 3rem;
}

.Hero__left-body {
    max-width: 60rem;
    padding: 18rem 0 16rem 0;
}
.Hero__left-logo p {
    font-size: 1.4rem;
}
.play-link {
    background-color: #0BA4DB;
    border-radius: 50%;
    height: 10px;
    background-color: #0BA4DB;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.Hero__footer-video p {
    text-align: end;
}
.Hero__right-body {
    position: relative;
}
.Hero__right-body img {
    position: absolute;
    top: 2rem;
    left: -5rem;
    width: 74rem;
}